
/* ##################################### */
/* ######## Main contente start ######## */
/* ##################################### */

* {
    margin: 0;
    padding: 0;
}

.main-area {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.image {
	width: 100%;
    height: 910px;
	background: linear-gradient(225deg, #0491343d 50%, #020c24db 100%), url("image/for-women-featured-img-1.jpg") no-repeat top left / cover;
}

.sunset {
	position: absolute;
	top: 350px;
	left: 60px;
}

.sunset h1 {
    font-size: 4.50rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.insulet {
	position: absolute;
	top: 540px;
	left: 265px;
	width: 462px;
}

.insulet p {
    text-transform: uppercase;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    line-height: 27px;
    margin-bottom: 25px;
}

.insulet h1 {
    color: #400606;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif;
}

.sizecar {
	position: absolute;
	top: 728px;
	left: 78px;
}

.sizecar ul {
    list-style-type: none;
    float: left;
}

.sizecar ul li {
    float: left;
    font-size: 18px;
    padding-right: 11px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.cart {
	position: absolute;
	top: 776px;
	left: 80px;
}

.cart a {
	display: inline-block;
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	padding: 20px 31px 20px 28px;
	border: 3px solid #752701;
	border-radius: 2px;
    transition: 1s;
}

.cart a:hover {
	color: #200e0e;
	border: 3px solid #241007;
}

.produ {
	overflow: hidden;
	margin-top: 50px;
	text-align: center;
}

.produ h1 {
	font-size: 50px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: #2f1818;
	margin-bottom: 10px;
}

.produ p {
	font-size: 18px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	color: #2f1818;
}

.leather-produ {
	overflow: hidden;
	box-sizing: border-box;
}

.leather-produ .w-20 {
	width: 20%;
	overflow: hidden;
	transform: translatex(9px);
	position: absolute;
	top: 0;
	height: 450px;
	background: #1148483b;
}

.deal h1 {
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0 0 0 19px;
	transform: translatey(140px);
	margin-left: -8px;
}

.leather-produ .hour p {
	font-size: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	padding: 0 0 0 19px;
	transform: translatey(146px);
	margin-left: -8px;
}

.gonda {
	overflow: hidden;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.gonda .wi-25 {
	float: left;
	background-image: linear-gradient(#121415,#344968);
	padding: 4px 5px;
	transform: translatey(182px);
	margin-bottom: 233px;
	border-radius: 8px;
}


.gonda .wi-25:not(:nth-child(1)) {
	margin-left: 11px;
}

.gonda .wi-25 h1 {
	color: #ccb7b7;;
}

.gonda .wi-25 p {
	color: #09b987;
}

.gonda .wi-25:nth-of-type(1) {
	margin-left: 12px;
}

.w-19 {
	width: 19%;
	position: absolute;
	left: 1006px;
	top: 0;
}

.main-leather .w-19 img {
	width: 100%;
	height: 450px;
}

.main-leather {
	position: relative;
	margin-top: 63px;
	background-color: #8dc8b796;
	height: 585px;
}

.main-leather .rewid {
	position: absolute;
	left: 271px;
	top: 0;
}

.main-leather .rewide{
	position: absolute;
	left: 519px;
	top: 0;
}

.main-leather .rewidp{
	position: absolute;
	left: 767px;
	top: 0;
}

.main-leather .rewidpe{
	position: absolute;
	left: 1015px;
	top: 0;
}

.main-leather .produ-name h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #2a2d2a;
	margin: 10px 0 10px 0;
}

.main-leather .produ-name p {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 21px;
	color: #5c0909;
	background-color: #becbd3;
	width: 25%;
	padding-left: 7px;
	border-radius: 50px;
}

.letes-jacket {
	box-sizing: border-box;
	position: relative;
	background: #faebd785;
	height: 460px;
	top: 82px;
	border: 2px solid #f4ebeb;
}

.letes-jacket .wi-24 {
	width: 24%;
	box-sizing: border-box;
	float: left;
	position: relative;
}

.wi-24 .jaket-img img {
	width: 100%;
}


.letes-jacket .wi-19 {
	width: 19%;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	position: relative;
}

.letes-jacket .wi-19 .produc-iamge img {
	width: 60%;
	height: 191px;
	transform: translateX;
	display: inline-block;
}

.letes-jacket .wi-24 .home-produ {
	position: absolute;
	top: 181px;
	left: 8px;
}

.letes-jacket .wi-24 .home-produ h2 {
	font-size: 18px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	color: #1b0202;
}

.letes-jacket .wi-24 .expeln {
	position: absolute;
	top: 250px;
	left: 8px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	background: #e8e0d5;
	padding: 8px;
	border-radius: 6px;
}

.letes-jacket .wi-24 .expeln p {
	font-size: 14px;
	color: #001110;
}

.wi-19 .produc-name {
	position: absolute;
	top: 16px;
	left: 0;
}

.wi-19 .produc-iamge {
	transform: translatex(80px);
}

.wi-19 .produc-name p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.wi-19 .produc-name p:nth-child(1) {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	font-size: 14px;
}

.wi-19 .produc-name p:nth-last-of-type(1) {
	color: #067757;
}

.wi-19 .produc-name p:nth-last-of-type(2) {
	color: #067757;
	padding: 5px 0 5px 0;
	
}

.jaket-img img[src="image/xjpg.png"] {
	height: 382px;
}

.ledes-Item {
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	top: 170px;
	padding: 0px 10px 0 10px;
}

.ledes-Item .led-w-50 {
	width: 49.5%;
	float: left;
	height: 360px;
	position: relative;
	box-sizing: border-box;
}

.ledes-Item .led-w-50 .ima-bride img {
	width: 100%;
}

.ledes {
	position: relative;
	top: 130px;
}

.ledes h1 {
	font-size: 35px;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
	color: #353a3b;
	margin-left: 35px;
}

.ledes-Item .ima-bride {
	width: 50%;
	transform: translatex(300px);
}

.ledes-Item .color-blue {
	background: linear-gradient(to right top, #194a93, #98adb9);
}

.ledes-Item .tomato-color {
	background: linear-gradient(to right top, #e49d15, #a68c60);
}

.ledes-Item .meet1 {
	position: absolute;
	top: 91px;
	left: 10px;
}

.ledes-Item .meet1 h2 {
	font-size: 21px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	color: #e8dede;
}

.ledes-Item .trs1 {
	position: absolute;
	top: 140px;
	left: 10px;
}

.ledes-Item .trs1 p {
	font-size: 18px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	color: #f0eaea;
}

.ledes-Item .shop-now1 {
	position: absolute;
	top: 232px;
	left: 10px;
}

.ledes-Item .shop-now1 a {
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	color: black;
	background-color: #efe8e8;
	padding: 10px 30px;
}

.ledes-Item .meet {
	position: absolute;
	top: 91px;
	left: 10px;
}

.ledes-Item .meet h2 {
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 600;
	color: #e8dede;
}

.ledes-Item .trs {
	position: absolute;
	top: 140px;
	left: 10px;
}

.ledes-Item .trs p {
	font-size: 18px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 500;
	color: #f0eaea;
}

.ledes-Item .shop-now {
	position: absolute;
	top: 232px;
	left: 10px;
}

.ledes-Item .shop-now a {
	display: inline-block;
	text-decoration: none;
	font-size: 14px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	color: black;
	background-color: #efe8e8;
	padding: 10px 30px;
}

.ledes-Item .led-w-50:nth-child(2) {
	margin-left: 11px;
}

.fimal-product {
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	top: 225px;
	background: #d8e6e2;
}

.fimal-product .w-12 {
	width: 12%;
	float: left;
	margin-right: 5px;
	margin-top: 20px;
	padding-right: 4px;
	box-sizing: border-box;
}

.fimal-product .w-12 .image-product img {
	width: 100%;
	height: 230px;
}

.fimal-product .name p {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #031f1b;
	margin-top: 13px;
}

.fimal-product .image-product img[alt="kem"] {
	background: #fff;
}

.fimal-product .w-12:nth-child(1) {
	margin-left: 9px;
};

.fimal-product .camboset img {
	display: inline-block;
	margin-left: 40%;
	width: 300px;
}

/* ##################################### */
/* ######### Main contente end ######### */
/* ##################################### */